/* CSS Reset */
body{
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  gap: 10px;
  background-color: #1F2937;
  color: white;
  
  
}
.header-item1{
  margin-right: auto;
}
.intro-container{
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 5%;
}


.intro-box1 {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
}
.intro-box2{
width: 50%; 
}

.blue-button {
          padding: 10px 20px;
          font-size: 16px;
          text-decoration: none;
          background-color: #3882F6; 
          color: #fff; 
          border-radius: 5px;
          width: 15%;
      }

.blue-button:hover {
          background-color: #2980b9; 
      }
#img1{
  width: 50%;
  height: 50%;
  margin-left: 20%;
}
.imgs-descriptions{
  display:flex;
  margin-top: 50px;
  margin-bottom: 50px;

  justify-content: space-around;
  

}
.img-des p {
  text-align: center;
  max-width: 250px;
  
}
.images-header{
  text-align: center;
}
.nature-img{
  width: 250px;
  height: 250px;
  border-radius: 5%;
  border: 5px solid #3498db;
}
.img-des{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.quote-container{
  background-color: #E5E7EB;
  padding: 10% 25% 10% 25%;
  display: flex;
  flex-direction: column;
}
.quote{
  opacity: 0.7;
  font-weight: 500;
  
}
.author{
  text-align: right;
}
.call-to-action{
  display: flex;
  color: #F9FAF8;
  background-color: #3882F6;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #fff;
  margin: 10%;
 

  
}


.action-box1 {
  display: flex;
  flex-direction: column;
  text-align: left;
}


.blue-button2 {
          padding: 10px 20px;
          font-size: 16px;
          text-decoration: none;
          background-color: #3882F6; 
          color: #fff; 
          border: 2px solid #fff;
          width: 15%;
          border-radius: 10%;

      }

.blue-button2:hover {
          background-color: #2980b9; 
      }


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1F2937;
    color: white;
    text-align: center;
  }
